@font-face {
  font-family: "Aventa";
  src: url("./fonts/aventa/Aventa-LightPERSONALUSEONLY.otf");
}

.aventa {
  font-family: "Aventa", sans-serif;
}

html {
  scroll-behavior: smooth;
}

@media (min-width: 640px) {
  .swiper-button-next,
  .swiper-button-prev {
    display: none !important;
  }
}
